
h1, h2, h3   {
font-family: 'Barlow Condensed', sans-serif;
font-weight: 700;
}
}
p, h4 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}

.card-text {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
}

.navbar{
z-index: 10000;
}
.barra-menu{
  color: white;
}
.bg-color {
  background-color: #660066;
}

.jumbotron{
background-image: url("../img/bg_hero.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 737px;
}

.logo-uno logo-dos {
  max-width: 100px;
  max-height: 100px;
}

hr {
  height: 1px;
}

.navbar-toggler {
color: white;
}

/* .custom-toggler .navbar-toggler-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
} */


.navbar-light .navbar-toggler-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}


@media only screen and (max-width: 700px) {

.liz { font-size: 50pt;
}
